h1 {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}

.header {
    background-color: blue;
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 1px;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: rgb(117, 117, 117);
}

form {
    background-color: blue;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  .current-city {
    width: 800px;
    display: inline-block;
    height: 200px;
    border-style: solid;
  }

  .five-day-forecast {
    width: 500px;
    display: inline-block;
    height: 200px;
    border-style: solid;
  }