h1 {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
  font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color: blue;
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 1px;
}

form {
    background-color: blue;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  #currentCity {
    width: 400px;
    height: 200px;
    display: inline-block;
    border-style: solid;    
    padding: 20px;
  }

  #five-day-forecast {
    /* width: 300px;
    height: 300px;
    height: 1100px; */
    /* border-style: solid; */
    /* border-color: blue;     */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* background: blue; */
  }

  #js-search-input {
    width: 200px;
    background: rgb(224, 224, 224);
    display: flex;
  }

  #searchBoxMain {
    display: inline-block;
    width: 300px;
  }

  #mainCity {
    display: flex;
  }

  .weather-icon {
    width: 50px;
  }

  .day-card {
    border: black, 10px;
  }