h1 {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif
}

h2 {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.header {
    background-color: blue;
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 1px;
}

form {
    background-color: blue;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  .currentCity {
    width: 800px;
    display: flex;
    height: 1000px;
    border-style: black, solid, 2px;
    background: yellow;
  }

  .five-day-forecast {
    width: 500px;
    display: inline-block;
    height: 200px;
    border-style: solid, black, 2px;
  }

  .weather-icon {
    width: 50px;
  }

  .day-card {
    border: black, 10px;
  }